[submodule "assignment-1"]
	path = assignment-1
	url = https://github.com/Ruchirareddy11/assignment-1
[submodule "assignment-3"]
	path = assignment-3
	url = https://github.com/Ruchirareddy11/assignment-3.git
[submodule "assignment-2"]
	path = assignment-2
	url = https://github.com/Ruchirareddy11/AQI---AI-Simple-Reflex-Agent-.git
[submodule "assignment-4"]
	path = assignment-4
	url = https://github.com/Ruchirareddy11/assignment-4.git
